.pokemon-list-wrapper {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 400px;
}

.controls {
    /* display: flex;
    /* justify-content: center; */
    /* position: absolute;
    bottom: 0;  */
    margin: 2rem auto;
    padding-bottom: 50px;
}

.controls button {
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}